/* Stili generali */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Impedisce lo scroll fuori dall'app */
}

/* Home Page */
.home-page {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 387px; /* Imposta una larghezza massima */
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Evita lo scroll all'esterno */
    position: relative;     /* Assicurati che la home page sia sopra */
}

.header {
    text-align: center;
    padding: 15px;
    font-size: 20px;
    color: #ffffff;
    background-color: #1c1c1c;
    border-bottom: 1px solid #333;
    border-radius: 15px 15px 0 0;
    overflow: hidden; /* Impedisce lo scroll fuori dall'app */
}

.search-bar {
    padding: 10px;
    width: 100%;
    background-color: #1c1c1c;
    overflow: hidden; /* Impedisce lo scroll fuori dall'app */
}

.search-bar input {
    width: 90%;
    padding: 10px;
    border-radius: 13px;
    border: none;
    background-color: #333;
    color: #ffffff;
    font-size: 14px;
    overflow: hidden; /* Impedisce lo scroll fuori dall'app */
}

.contact-list {
    flex: 1;
    overflow-y: auto; /* Rende scrollabile solo la lista di chat */
    padding: 10px 0;
    scrollbar-width: none;
    border-top: 1px solid #333;
    position: relative;
}

.contact-list::-webkit-scrollbar {
    display: none;
}

.contact {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.2s;
    position: relative;
}

.contact:hover {
    background-color: #333;
}

.contact-info h3 {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}

.contact-info p {
    font-size: 12px;
    color: #888;
    margin: 0;
}

.contact-delete {
    position: absolute;
    right: -50px;
    top: 10px;
    width: 40px;
    height: 40px;
    background-color: #ec404f;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.3s;
    cursor: pointer;
    font-size: 18px;
}

.contact.swiped .contact-delete {
    right: 15px;
    top: 10%;
}

.create-chat-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #ec404f;
    border: none;
    color: white;
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

/* Chat Page */
.chat-container {
    width: 100%;
    height: 100%;
    max-width: 380px; /* Imposta una larghezza massima */
    background-color: #1c1c1c;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden; /* Evita lo scroll all'esterno */
}

.chat-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #121212;
    border-bottom: 1px solid #333;
    border-radius: 15px 15px 0 0;
}

.chat-header h2 {
    flex: 1;
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

.chat-box {
    flex: 1;
    overflow-y: auto; /* Rende scrollabile solo la chat */
    padding: 15px;
}

.chat-box .message {
    margin-bottom: 10px;
}

.message.user .msg {
    background-color: #ec404f;
    color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    margin-left: auto;
    text-align: right;
}

.message.bot .msg {
    background-color: #333;
    color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    margin-right: auto;
    text-align: left;
}

.message.audio .msg {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 15px;
    max-width: 70%;
    margin-right: auto;
    text-align: left;
    font-style: italic;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #1c1c1c;
    border-top: 1px solid #333;
}

.message-input input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #333;
    color: white;
    font-size: 14px;
    margin-right: 10px;
}

.message-input .send-button {
    background-color: #ec404f;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.message-input .audio-button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 16px;
    cursor: pointer;
}




.settings-page {
    width: 100%;
    height: 100%;
    max-width: 380px;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.settings-header {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #121212;
    border-bottom: 1px solid #333;
    border-radius: 15px 15px 0 0;
}

.settings-header h2 {
    flex: 1;
    text-align: center;
    font-size: 18px;
    margin: 0;
    color: #ffffff;
}

.settings-content{
    height: 700px;
    padding-top: 20px;
}

.white-square {
    background-color: #ffffff;
    width: 320px;
    height: 320px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.buttons-container1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-evenly;
    margin-top: 30px;
}

.buttons-container2 {
    display: flex;
    flex-direction: column;
    width: 115px;
    gap: 10px;
    margin-top: 50px;
    margin-left: 30px;
}

.settings-button {
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.settings-button:hover {
    background-color: #ec404f;
    transform: scale(1.05);
}

.settings-button:active {
    transform: scale(0.95);
}

/* Stili per la pagina destra (menu) */
.right-page {
    position: fixed;
    top: 0;
    right: 0;
    left: 190px;
    width: 70%;
    height: 100%;
    background-color: #333333; /* Colore di sfondo del menu */
    color: white; /* Colore del testo all'interno del menu */
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(100%); /* Inizialmente nascosta */
    transition: transform 0.3s ease;
    display: none; /* Rende la pagina del menu invisibile all'inizio */
    pointer-events: auto;   /* Permette l'interazione con il menu */
    border-radius: 25px;
    z-index: 2;
}

#right-page-content {
    padding: 20px;
}







.home-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.menu-overlay {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.menu-content {
    width: 50%;
    max-width: 250px;
    height: 100%;
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);

}

.menu-content .close-menu {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.menu-content .menu-items {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: white;
    font-size: 16px;
    padding: 20px;
}
.menu-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

/* Nascondi l'icona del menu quando il menu è aperto */
.menu-icon.hidden {
    display: none;
}

/* Overlay per rendere la home page meno visibile quando il menu è aperto */
.home-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Sfondo semi-trasparente */
    z-index: 1; /* Deve essere sotto il menu */
    display: none;
    transition: transform 1s ease;
}

/* Aggiungi opacità alla home page */
.home-page.blur {
    opacity: 1; /* Riduce l'opacità della Home Page */
    pointer-events: none; /* Impedisce interazioni con la home page mentre il menu è aperto */
    transition: transform 1s ease;
}


.contact.dragging {
    opacity: 0.5;
    background-color: #f0f0f0;
    cursor: move;
}

